@import '../lib/var';
@import '../lib/breakpoint';

.contact_section{
    padding-top: 15vh;
    height: 75vh;
    min-height: 75vh;
    background-color: $color3;
    display: grid;
    place-items: center center;
    p{
        text-align: center;
        font-size: $xl_font;
        font-family: $brush_font;
        color: $color2;
    }
}

.info_section{
    .contact_container{
        position:relative;
        padding: 10vh 10vw;
        display: grid;
        grid-template-columns: 50% 50%;

        @include breakpoint(mobile){
            grid-template-columns: 100%;
        }
        .contact_container_left{
            text-align: center;

            >*{
                padding: 10%;
                line-height: 2;
            }
            .hours_container{
                display: flex;
                flex-flow: column;
                .hours_title{
                    font-size: $sm_font;
                    font-weight: bold;
                    margin-bottom: $sm_font;
                }
                .days_container{
                    p{
                        font-size: $xs_font;
                    }
                }
                .time_container{
                    p{
                        font-size: $xs_font;
                    }
                }
            }
            .address_container{
                .address_title{
                    font-size: $sm_font;
                    font-weight: bold;
                    margin-bottom: $sm_font;
                }
                p{
                    font-size: $xs_font;
                }
            }
        }
        .contact_container_right{
            padding: 10%;
            margin: 0 auto;
            @include breakpoint(tablet){
                margin: 15% auto 0 auto;
            }
            .contact_image_container{}
        }
    }
    .map_container{
        width: 100%;
        min-height: 50vh;
        padding: 20vh 0 50vh 0;
        p{
            font-size: $md_font;
            text-align: center;
            padding: 15vh;
            font-weight: bold;
            // font-family: $brush_font;
        }
        .map{
            width: 100%;
            height: 50vh;
            border: 0;
        }

        @include breakpoint(tablet){
            padding: 0 0 30vh 0;
        }
        @include breakpoint(mobile){
            padding: 0 0 30vh 0;
        }
    }
}